<div class="menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-home"></i>Accueil</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('show_lores') }}"><i class="fa fa-book-open"></i>Lore</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('show_characters') }}"><i class="fa fa-group"></i>Personnages</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('show_races') }}"><i class="fa fa-user-ninja"></i>Races</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('show_factions') }}"><i class="fa fa-flag"></i>Factions</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="{{ path('show_areas') }}"><i class="fa fa-map-signs"></i>Zones</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search">
    </form>
</div>

